<button id="get_products">Get Products</button>


<form id='add_product'>
<h3>Add Product</h3>
  Name: <input id='new_name'>
  Base Price: <input id='new_base_price'>
  Description: <input id='new_description'>
  Quantity on Hand: <input id='new_quantity_on_hand'>
  Color: <input id='new_color'>
  Weight: <input id='new_weight'>

  <button class='add' type='button'>Submit</button>
</form>

<ul id='products'></ul>
